@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    align-items: center;
}

body {
    font-family: Sintony, sans-serif;
    font-weight: 300;
    color: #41444d;
}


/*header*/

#open{
    height: 50px;
    background-color: #ffffff;
}
/*image header */

#relax-image {
    background: url(../images/relax-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 724px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}


/*logo header */


.header-section {
    font-family: Satisfy, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    font-size: 350%;
    text-align: center;
}

.sublogo {
    font-size: 175%;
    margin-left: 18%;
}
/* menu */

#menu li {
    float: right;
    text-decoration: none;
    margin-right: 30px;
    text-transform: uppercase;
    list-style-type: none;
    line-height: 75px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid rgb(85, 209, 85);
}

/* benefits meditation */

#benefits {
    height: 500px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

.left-about-reasons {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    list-style-type: none;
    line-height: 75px;
    font-size: 125%;
}

.right-about-reasons {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: right;
    list-style-type: none;
    line-height: 75px;
    font-size: 125%;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-relax {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #41444d;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover {
    background: url(../images/nara3.png);
    height: 100%;
    border-radius: 50%;
    background-position: center;
}

/* guided meditation */

#self-love {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 400px;
}

#bepresentm {
    padding-top: 30px;
    width: 33%;
    float: right;
    height: 400px;
}

#sleep {
    width: 33%;
    margin: 0 auto;
    height: 400px;
}

#welcome2 {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}