@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    align-items: center;
}

body {
    font-family: Sintony, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Satisfy,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgba(49, 128, 247, 0.678) 
}


.meditation-image {}
#logo {
    font-size: 200%;
    font-family: Satisfy,sans-serif;
    color: rgb(34, 153, 94);
    display: block;
    text-align: center;
}

#sublogo {
    font-size: 100%;
    font-family: Satisfy,sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
}

/*menu */

div > header {
    height: 700px;
    line-height: 500px;
 }

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}

menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid rgb(34, 153, 94);

}

#logo-cover, #logo-cover h1 {
    color:rgb(34, 153, 94)
}

#logo-cover {
    font-size: 130%;
    font-family: Satisfy, sans-serif;
    text-transform: uppercase;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(241, 109, 107, .7) ;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* meditation image */

#meditatio-image{
    height: 600px;
    width: 100%;
    background-image: url(../images/meditation.jpg) no-repeat center center;
}


